/*  style guide 

#232323 (Black)
#eeb310 (Gold)
#d3bc8d (Realistic Gold)
#6d5312 (Dark Gold)
#fbfaf5 (Off-White)


breakpoints
Extra small          None	<576px
Small	             sm	    ≥576px
Medium	             md	    ≥768px
Large	             lg	    ≥992px
Extra large	        xl	    ≥1200px
Extra extra large	xxl	    ≥1400px


*/
/* fonts */

.roboto-slab-<uniquifier>{font-family:"Roboto Slab",serif;font-optical-sizing:auto;font-weight:<weight>;font-style:normal}.barlow-semi-condensed-thin{font-family:"Barlow Semi Condensed",sans-serif;font-weight:100;font-style:normal}.barlow-semi-condensed-extralight{font-family:"Barlow Semi Condensed",sans-serif;font-weight:200;font-style:normal}.barlow-semi-condensed-light{font-family:"Barlow Semi Condensed",sans-serif;font-weight:300;font-style:normal}.barlow-semi-condensed-regular{font-family:"Barlow Semi Condensed",sans-serif;font-weight:400;font-style:normal}.barlow-semi-condensed-medium{font-family:"Barlow Semi Condensed",sans-serif;font-weight:500;font-style:normal}.barlow-semi-condensed-semibold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:600;font-style:normal}.barlow-semi-condensed-bold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:700;font-style:normal}.barlow-semi-condensed-extrabold{font-family:"Barlow Semi Condensed",sans-serif;font-weight:800;font-style:normal}.barlow-semi-condensed-black{font-family:"Barlow Semi Condensed",sans-serif;font-weight:900;font-style:normal}.barlow-semi-condensed-thin-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:100;font-style:italic}.barlow-semi-condensed-extralight-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:200;font-style:italic}.barlow-semi-condensed-light-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:300;font-style:italic}.barlow-semi-condensed-regular-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:400;font-style:italic}.barlow-semi-condensed-medium-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:500;font-style:italic}.barlow-semi-condensed-semibold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:600;font-style:italic}.barlow-semi-condensed-bold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:700;font-style:italic}.barlow-semi-condensed-extrabold-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:800;font-style:italic}.barlow-semi-condensed-black-italic{font-family:"Barlow Semi Condensed",sans-serif;font-weight:900;font-style:italic}

/* links */
	
	*:focus, input:focus, input[type=search]:focus {
	  /*  outline: 1px solid white !important;
	    outline-offset: 2px !important;
	    -webkit-transition: none !important;
	    -moz-transition: none !important;
	    -o-transition: none !important;
	    transition: none !important; */
	}

html {background-color: #000;}

body {color:#232323; font-size: 1.1rem;  line-height:1.66; margin: 0;
    font-family: "Roboto Slab",Arial,Helvetica,sans-serif;}

a {color: #04407B; text-decoration: underline;}
a:hover, a:focus {color: #946232;text-decoration: underline; border:0px;}


.justify-content-end {justify-content: flex-end !important;}

/* Headings
--------------------------------------------- */
h1 {  font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; 
    text-transform: uppercase; letter-spacing:-0.015em; font-weight:700;}

.page-header {padding-bottom:5px; margin-bottom: 2.5rem; border-bottom: 1px solid #bfbebe;}

h2 {margin-bottom: 1rem;}

h2, h3, h4 {margin-top: 0.9rem;}


/* header */

.firstnav {border-top: 10px solid #eeb310; background-color: #000; height:65px; color:#fff;}

.firstnav .navbar {height:55px; --bs-navbar-padding-y: 0rem;}

.firstnav a, .secondnav a, .libnav a {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; text-transform: uppercase;font-size: 14px; font-weight:bold; letter-spacing:0.015em; /*padding-bottom:15px;*/}

.firstnav a  {font-size: 12px; color:#fff;}

.firstnav .nav > li > a:hover {text-decoration: none;background-color: #000; color: #eeb310;}

.firstnav .dropdown-menu {background-color: #232323; color: #eeb310;}

.firstnav .dropdown-item.active, .secondnav .dropdown-item.active, .libnav .dropdown-item.active, .fourthnav .dropdown-item.active {--bs-dropdown-link-active-bg: #fff;}

.firstnav .nav-link:focus, .firstnav .nav-link:hover {color:#eeb310;}

.firstnav li.dropdown-item    {/*background-color:#000; color:#fff;*/}
.firstnav li.dropdown-item a:hover   {background-color:#000; color:#fff;}

.firstnav .dropdown-item:hover, .dropdown-item:focus {background-color:#000; color:#fff;}
.firstnav  .navbar-nav .nav-link.show {color: #eeb310;}

.secondnav a, .libnav a {color:#232323; }
.secondnav a:hover, .libnav a:hover {color:#6d5312;}


.libnav a  {font-size: 0.9em;}

.fourthnav {background-color: #000; color:#fff;}

.fourthnav a {font-weight:bold;  padding-bottom:15px;}

.fourthnav li {border-bottom: 1px solid #d8d8d8;}

/* menu dropdowns */



.firstnav .dropdown-item a, .secondnav .dropdown-item a, .libnav .dropdown-item a, .fourthnav .dropdown-item a {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif; font-size:0.8em;}

.secondnav .dropdown-item,  .libnav .dropdown-item {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif; font-size:0.8em;}

.dropdown-item:focus, .dropdown-item:hover {color: var(--bs-dropdown-link-hover-color);background-color: #fff;}

.secondnav .dropdown-menu >li, .libnav .dropdown-menu >li {border-bottom: 1px solid #232323; font-size: 1.2em; background-color:#fff; margin-bottom: 5px;padding-bottom: 5px;}

.libnav li.dropdown-menu a {text-decoration: none; background-color:#fff; }

.libnav a.dropdown-item:hover, .libnav a.dropdown-item:active {background-color:#fff;text-decoration: underline;}

.libnav a.active.dropdown-item.is-active-hover {}

/* mobile dropdown */
.firstnav .dropdown-menu  a  {background-color:#232323; color:#fff;}
.firstnav .dropdown-menu > li a:hover,  .firstnav .dropdown-menu > li a:focus, .firstnav .dropdown-menu > li a:active {text-decoration: underline; background-color: #eeb310; color:#000;}

.firstnav .menu-item--expanded, .secondnav .menu-item--expanded, .libnav .menu-item--expanded {list-style:none;}

.dropdown-menu.show {border:none;}

/* mobile button */
.firstnav button {width: 60px; height: 50px; padding: 0;color: #fff; border:0px;}
.secondnav button, .libnav button  {width: 60px;height: 50px;padding: 0;color: #000; border:0px;}

.firstnav .icon, .secondnav .icon, .libnav .icon {margin: -5px; font-size: 26px; line-height: 26px;}
.firstnav .icon-text, .secondnav .icon-text, .libnav .icon-text   {display: block;margin: -5px 0;font-size: 12px; line-height: 10px;}

.firstnav .icon-text {color:#fff;}
.secondnav .icon-text, .libnav .icon-text  {color:#000;}

.secondnav  img {width: 200px; height: 22px;}


/* Campus search dropdown */

.block-psul-search-popup-search-block {
  --bs-border-radius-sm: 0;
  --bs-border-width: 1px;
  --bs-border-color: #001e44;
}

.campussearch form { flex-wrap: nowrap; margin-bottom: 1rem;}


.search-links a {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif;}


@media (min-width: 550px) {
  .block-psul-search-popup-search-block form {min-width: 450px;}
}

@media (max-width: 767px) {
  .block-psul-search-popup-search-block .dropdown-menu[data-bs-popper] {
    width: calc(100vw - 5rem);
  }
}

@media (min-width: 768px) {
  header .header--nav-search {position: static;}
}


/*  megamenu dropdown and fly.... */


.megamenu {border: none; border-radius: 0;padding: 0.7em; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);}
.dropdown-menu {border: none; }
.megamenu.show {display: flex;}
.megamenu ul {list-style: none;padding: 0; line-height:1.33em;}
.megamenu li .dropdown-item {color: #000;font-size: 14px; padding: 0.5em 1em; 
    text-transform: none; font-weight: 500; border-bottom: 1px solid #232323;}

.megamenu li:first-child a {font-weight: bold; font-size: 20px; /*text-transform: uppercase; font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; color: #516beb;*/}
.megamenu li .dropdown-item .bigfat-menu  {font-weight: bold;font-size: 14px;
  text-transform: uppercase;color: #516beb;}
.megamenu a {text-transform: none; font-family: "Roboto Slab",Arial,Helvetica,sans-serif;}
.megamenu a:hover  {color: #eeb310;}
.megamenu .dropdown-item {white-space: wrap;}


/* sidebar menu */

.nav.nav-pills.flex-column > li {
  margin: -1px 0 0;
  border: solid 1px #e9ecef;
}

/* hero image */

.site-hero-wrap {/* overflow: hidden; */ position: relative;}
.region-hero img{width:100%; display:block;}

.library-logo {  background-color: #000;   padding: 0.5rem;  position: absolute;}

 .library-logo a { font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; font-size: 2em; font-weight: 700;  text-transform: uppercase;  color: #fff; text-decoration: none; line-height:1;}

 .library-logo a:hover,  .library-logo a:focus {text-decoration: underline;} 

/* breadcrumbs */
.breadcrumb  {font-family:"Barlow Semi Condensed",Arial,Helvetica,sans-serif; letter-spacing:0.015em; color:#424242; font-size:0.9em;font-weight:700}
.breadcrumb li, .breadcrumb a {color:#424242;}

/* content */
.front  #main-content h1 {display:none;}
.front .page-header {display:none;}
.path-frontpage h1 {display:none;}



/* quick search */

.homepagesearch {--bs-nav-link-padding-x: 2rem; background-color: rgba(0,0,0,.8); padding:1rem;  }

.homepagesearch .tab-content {background-color: #fff; padding:1.5rem;}

.homepagesearch.tabs .nav-tabs .nav-link {border-width: 0;color: #fff; font-size: 1rem; font-weight: 700; /*border-bottom: 1px solid #232323;*/ padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);}
.homepagesearch .nav-tabs .nav-link.active { color:#000;}

div.homepagesearch.tabs li > button {/*font-weight: bold;*/ color:#000;}
div.homepagesearch.tabs li > button:hover  {font-weight: bold; color: #946232;}

.homepagesearch .nav-tabs {--bs-nav-tabs-border-radius: none;}

.homepagesearch  .btn-info, .simplesearch .btn-info  {color: #fff;border-color: #022241;background-image: linear-gradient(#04519b,#033c73 60%,#02325f);}

.homepagesearch form, .simplesearch form  { flex-wrap: nowrap; margin-bottom: 1rem;}
.homepagesearch .bef-exposed-form .form--inline { margin-bottom: 0}
.homepagesearch .form-type-select {flex-shrink: 0}
.homepagesearch .form-item-query { flex-grow: 1;}
.homepagesearch .input-group, .simplesearch .input-group  {--bs-border-radius: 4px; align-items: center;}
.homepagesearch .input-group-lg > .form-control, .simplesearch .input-group-lg > .form-control {font-size:0.9em;}

.simplesearch {border: 1px solid #232323;  padding:1rem;}


.library-links {padding-top: 10px;margin-bottom: 0px;clear: both;}
.library-links-dd a {color: #fff;}


/* Lib chat */

.lcs_slide_out-r {top: 25% !important;}

.lcs_slide_out div.lcs_header a {text-decoration:none; }
.lcs_slide_out div.lcs_header a:hover {text-decoration:underline; }

.mobile_chat {display: none;}


/* libcal hours */
.hours-block {background-color: #fff; padding: 20px; margin-bottom:10px;}
	
.libraryHoursContainer {min-height:55px;}

.hours-today { border-spacing: 0; border-collapse: collapse; width: 100%; margin-bottom:0px;}
.hours-today-row td, .hours-today-row th { padding: 8px 5px; }


/* hours page */
.sr-only {display:none;}
.hours-all .nav > li > a {position: relative;display: block;padding: 10px 15px;}
.hours-all .nav-pills > li > a {border-radius: 4px;}
.hours-all .nav-pills > li.active > a, .psul-hours-all .nav-pills > li.active > a:hover, .psul-hours-all .nav-pills > li.active > a:focus {
    color: #ffffff; background-color: #001E44;}


.s-lc-fhw-map { border:1px solid #ccc; width: 750px; height: 300px; } 
.s-lc-fhw-pills { padding: 10px 0px;}
#s-lc-fhw-ltab {display:none;}
#s-lc-fhw-hl{display:none;}


/*month*/
.s-lc-mhw-tb { width: 100%; border: 1px solid #ddd; border-collapse: collapse; border-spacing: 0; } 
.s-lc-mhw-tb th, .s-lc-mhw-tb td { border: 1px solid #ddd; vertical-align: top; } 
.s-lc-mhw-tb thead { background-color: #F5F5F5; } 
.s-lc-mhw-header { text-align: center; } 
.s-lc-mhw-header-date { text-align: center; display: inline-block; margin-top: 5px; font-size: 130%; } 

.pull-left {float: left;}
.pull-right {float: right;}


.s-lc-mhw-header .btn-group-sm > .btn, .btn-sm {font-size: 20px; font-weight:bold;line-height: 1.5;}
.s-lc-mhw-header .btn-default {color: #333;background-color: #fff;border-color: #ccc;}

.s-lc-mhw-loc-name {display: none;}
.s-lc-mhw-day-l {text-align: right;font-size: 1.2em; padding: 2px;font-weight: bold;}
.s-lc-time {font-size: 1.1em;display: block;}
.s-lc-note.s-lc-h-excep {font-size: 1em;}



/* a-z list */
.s-lg-icons {display: inline;}
.s-lg-icons ul {list-style: none;padding: 0;margin: 0;display: inline;}
.s-lg-icons li {display: inline; padding: 0 2px;}

.s-lg-icon {max-height: 20px; max-width: 20px;}

.label {display: inline;padding: .2em .6em .3em;
    font-size: 75%;font-weight: 700;line-height: 1;color: #fff;text-align: center;
    white-space: nowrap;vertical-align: baseline;border-radius: .25em;}

.alert-success, .label-success {color: #0f5132;background-color: #d1e7dd;border-color: #badbcc;}
.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}

.region-sidebar-second iframe {height:550px;}


/*  books and news blocks */
.more-link {clear:both; float:right;}
.fakeimg {background: #aaa; padding:5px;margin-right:5px;}

/* new books block */
.region-books-display li {float:left;margin-left:20px; margin-top:20px;list-style-image: none;
    list-style-type: none;}

/* libcankle */
.libcankle {padding-bottom: 3rem;padding-top: 3rem;}
.libcankle .container {background-color:#f8f8f8; font-weight:500; padding: 2rem;}


/* cankle */
.cankle {background-color:#232323; font-weight:500; padding-top:100px; padding-bottom:100px; color: #fff;}

.cankle h3, .cankle h4 {color: #fff;}

.cankle ul {padding-top:10px; padding-left:0;}
.cankle li {margin-left:0px;
	list-style-image: none;list-style-type: none; padding: 10px;}

ul.campus > li {padding-top:0;}

ul.apply > li, ul.health > li, ul.quicklinks > li {border-bottom: 1px solid #d8d8d8;}
ul.apply > li.last,  ul.health > li.last, ul.quicklinks > li.last {border-bottom: none;}


.cankle p  { color:#fff;font-size:1rem;}

.cankle a  { color:#fff; text-decoration:none; border-bottom: 1px dotted #d8d8d8; font-size:1rem;}
.cankle a:hover, .cankle a:focus {color: #eeb310; text-decoration:underline; font-weight:700;}

.cankle a.social-icons  {text-decoration:none; border:none;}

a.footerlogo img {/*max-width:300px;*/}
.cankle svg {margin-right: 0.4rem;}



/* footer */

.footer {/*margin-top:20px;*/}

.footer {background-color:#d3bc8d; padding: 20px; font-weight: 700;font-size:1rem;}

.footer p {text-align:center;margin-bottom:0px; } 
.footer a {color: #232323;}




/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

@media (max-width: 576px) {

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hours-block {margin-bottom:10px;}
 }



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
      
 .secondnav .navbar {min-height: 85px;}
  .secondnav  img {width: 250px; height: 27.5px;}

   .dropdown-menu {/*border:none;*/}

  .region-hero img { max-height:380px;}
  .library-logo a {font-size:4em;}

   .frontdecor {/*background-color: #d3bc8d;padding: 10px; margin-bottom: 20px;*/}
   .homepagesearch {/*padding: 20px;background-color: #fff;*/}

   div.homepagesearch.tabs li > button {/*padding:0.25rem 0.5rem;*/}
    .homepagesearch .tab-content {min-height: 192px;}
}

@media screen and (max-width: 800px) {

  .mobile_chat {display: inline-block;
    width: 100%;background-color: #286090;text-align: center;
    margin-top: .0625rem;}
  .mobile_chat button:hover {/*text-decoration:underline;*/}

  #lcs_slide_out-20238, #lcs_slide_out_button-28113 {display: none;}

}

@media (max-width: 991px) {
    .social-links {/*display:none;*/}  
    .version2  .tab-content>.tab-pane {/* display: block;opacity: 1;*/} 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


    /* campusnav megamenu */

    .secondnav .campusnav {min-height:90px;}
    .dropdown-menu .megamenu {/*padding: 2rem 1rem;*/}
    .dropdown:hover .megamenu {display: flex;}
    .megamenu.show {display: flex; }

    .navbar-nav .dropdown:hover > .dropdown-menu {display: block;}

    /*hero banner */
    .library-logo a { font-size:4.5em;}
       h1 { font-size:3.0rem;}


    .libnav  {margin-bottom: 20px;}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

    .region-hero img { max-height:380px;}
    .library-logo a { font-size:5em;}

     h1 { font-size:4.0rem;}
}



